.container{
    background-color: rgb(252, 250, 246);
     border: 2px solid rgb(187, 187, 187);
     border-radius: 10px;
    
    }
    .fa
    {
     height: 50px;
     width: 50px;
      margin-top: -50px;
      margin-bottom: -50px;
      color: #3A3131;
      border-radius: 50%;
      font-size: 36px; 
      cursor: pointer;
    }
    .addbtn
{
    margin-left: 130px;
     background-color: rgb(63, 53, 53);
     width: 100px;
     height: 40px;
     color: wheat;
    border-radius: 10px;
    cursor: pointer;
   
}